<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Besuchen Sie uns!</h2>
			<p>Die Ausstellung befindet sich im Foyer des Instituts für Physik der Humboldt-Universität zu Berlin.</p>
		</header>
		<ul class="actions vertical">
			<li><a href="https://plus.google.com/u/0/collection/0txENF" class="button fit special" target="_blank">Kommentieren</a></li>
			<li><a href="https://goo.gl/maps/oqmDzbP1RLy" class="button fit" target="_blank">Aufsuchen</a></li>
		</ul>
	</div>
</section>
