<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Team</h2>
			<p>Ein Projekt des Exzellenzclusters Bild Wissen Gestaltung mit freundlicher Unterstützung des Instituts für Physik und des IRIS Adlershof der Humboldt-Universität zu Berlin</p>
		</header>
		<ul class="features">
			<li class="icon fa-file-text-o">
				<h3>Autoren und Kuratoren</h3>
				<p>Prof. Dr. Christian Kassung<br />Prof. Dr.  Jürgen P. Rabe<br />Prof. Dr. Matthias Staudacher<br />Dr. Stefan Zieme</p>
			</li>
			<li class="icon fa-pencil">
				<h3>Ausstellungsgestaltung | Architektur und Grafik</h3>
				<p>Dipl.-Ing. Franziska J. Paul</p>
			</li>
			<li class="icon fa-code">
				<h3>Programmierung</h3>
				<p>M.Sc. Michael Droste</p>
			</li>
			<li class="icon fa-print">
				<h3>3D-Druck</h3>
				<p>Dipl.-Des. Julia Blumenthal</p>
			</li>
			<li class="icon fa-wrench">
				<h3>Ausstellungsbau</h3>
				<p>SpleenWorks&copy;</p>
			</li>
			<li class="icon fa-money">
				<h3>Sponsoring</h3>
				<p>Exzellenzcluster Bild Wissen Gestaltung<br />Kultur-, Sozial- und Bildungswissenschaftliche Fakultät<br />IRIS Adlershof</p>
			</li>
		</ul>
	</div>
</section>
